---
layout: main
title: hmm's
---

<h1>hmm</h1>
<p>some kind of a "blog" but hmm. oh and i suck at writing, so please read at your own discretion</p>
<ul>
  {%- for post in collections.hmm -%}
  <li><a href="{{ post.url }}">{{ post.fileSlug }}</a></li>
  {%- endfor -%}
</ul>