<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <script data-goatcounter="https://taaa.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <title>{{title}}</title>
</head>

<body>
  <main>{{ content }}</main>
</body>

</html>

<style>
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(12, 5%, 4%);
    --color-bg: hsl(96, 37%, 89%);
  }

  html {
    font-family: 'Work Sans', 'Noto Sans', -apple-system, sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    margin: 0;
  }

  h1 {
    font-size: var(--font-size-xl);
  }

  h2 {
    font-size: var(--font-size-lg);
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  pre {
    overflow-x: auto;
    max-width: 100vw;
    background-color: hsl(95, 24%, 82%);
    padding: 1em;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  a {
    color: #517742;
  }

  a.nevermind {
    color: inherit !important;
    text-decoration: none !important;
    cursor: text;
  }

  table {
    width: 100%;
    text-align: center;
  }

  td,
  th,
  table {
    border: solid 2px #000;
    border-collapse: collapse;
  }

  img {
    max-width: 100%;
  }
</style>

<script>
  if(window.opener) {
    if(new URL(window.opener.location).host === 'electo.gq') [
      window.location = '/needhelp'
    ]
  }
</script>